body {
  display: flex;
  justify-content: center;
}

canvas {
 box-shadow: 0 0 0 1px black;
 margin: auto;
}

#ui {
  max-width: 800px;
}

#ui .button {
  font-size: 24pt;
  margin-right: 20px;
  margin-bottom: 20px;
}